# Node.js dependencies
node_modules/

# Homey build artifacts
.homeybuild/

# Old version
no.tiwas.booleantoolbox.old/

# Other images
extra_images/

codebase.*
codebase-manifest.*
.codebaseignore
*.rar